/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/11/2016, 01:43:51
    Author     : Windows
*/

#caixaVerificaLogin{
    
}
#iniciarJogo h2{
    font-size: 65px;
    text-decoration: underline;
}
#caixaIniciarJogo {
    text-align: center;
    margin-top: 100px;
}
#botaoIniciarJogo{
	border: 1px solid black;
	box-shadow: 2px 2px 2px black;
	text-shadow: 2px 2px 2px black;
	cursor: pointer;
	height: 100px;
	font-size: 30px;
	color: white;
	background-color: #397908;
	transition: 0.3s;
	border-radius: 5px;
}
#botaoIniciarJogo:hover {
	background-color: #7B0829;
}
#infoUsuario {
    height: 100px;
    margin-top: 200px;
}



